@import "mixins.module";

html,
body {

  @include reset;
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  div[id="root"] {

    @include flex-column;
    min-height: 100%;
  }
}
