@import "sizes";

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin flex {
  display: flex;
}

@mixin flex-column {

  @include flex;
  flex-direction: column;
}

@mixin flex-center($gap: $mid) {

  @include flex;
  gap: $gap;
  align-items: center;
  justify-content: center;
}

@mixin hover-link {
  color: $teal;
  text-decoration: none;
}

@mixin hidden {
  display: none;
}

@mixin show {
  display: initial;
}