@import "../../colors", "../../mixins", "../../sizes", "../../fonts";

.navbar {

  @include flex;
  flex-grow: 1;
  align-items: center;

  padding: $mid;

  font-size: $font-lg;

  background-color: $light;

  .logo {
    cursor: pointer;

    width: 75px;
    height: 75px;
    margin-right: auto;
    padding-left: $mid;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
