@import "../../../../ui-library/mixins", "../../../../ui-library/sizes", "../../../../ui-library/fonts",
  "../../../../ui-library/colors", "../../../../ui-library/responsive";

.loginForm {

  @include flex-column;
  align-items: center;

  .field {

    @include flex-column;
    position: relative;

    align-items: center;

    margin-bottom: $max;

    input {
      height: 50px;
      padding: $mid;

      font-size: $font-md;

      border: 1px solid $dark;

      &.inputError {
        border-color: $error;
      }
    }

    .error {
      position: absolute;
      bottom: -25px;

      min-width: 100vw;

      font-size: $font-md;
      color: $error;
      text-align: center;
    }
  }
}
